<form
  [formGroup]="userDate"
  (ngSubmit)="onSubmit()"
>
  <div>
    <label for="email">email</label>
    <input type="text" id="email" placeholder="email" formControlName="email" required>
    <div
      *ngIf="userDate.controls['email'].invalid && (userDate.controls['email'].dirty || userDate.controls['email'].touched)"
    >
      <div *ngIf="userDate.controls['email'].hasError('required')">email is required</div>
      <div *ngIf="userDate.controls['email'].hasError('email')">email is not valid</div>
    </div>
  </div>

  <label for="password">password</label>
  <input type="password" id="password" placeholder="pass" formControlName="password" required>

  <button [disabled]="!userDate.valid" type="submit">submit</button>
</form>
