<div class="container-main">
  <div>
    logo
  </div>
  <nav class="test">
    <a routerLink="/" ariaCurrentWhenActive="page" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      main
    </a>
    <a routerLink="/orders" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      orders
    </a>
    <a routerLink="/statistic" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      statistic
    </a>
    <a routerLink="/manu" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      manu
    </a>
    <a routerLink="/categories" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      categories
    </a>
    <a routerLink="/products" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      products
    </a>
    <a routerLink="/articles" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      articles
    </a>
    <a routerLink="/users" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      users
    </a>
    <a routerLink="/reviews" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      reviews
    </a>
    <a routerLink="/settings" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      settings
    </a>
  </nav>
  <div>
    user-avatar
  </div>
</div>
