<div [formGroup]="formGroup" class="container-input">
  <label [for]="controlName">{{ label }}</label>
  <input
    formControlName="{{controlName}}"
    [id]="controlName"
    [type]="type"
    [placeholder]="placeholder"
    [required]="required"
  >
  <div class="wrapper-error" *ngIf="formGroup.controls[controlName].invalid && (formGroup.controls[controlName].dirty || formGroup.controls[controlName].touched)">
    <div *ngFor="let error of errors">
      <div *ngIf="formGroup.controls[controlName].hasError(error.type)">{{error.message}}</div>
    </div>
  </div>
</div>
